
body {
  background-color: #00ffcc;
  text-align: center;
  max-width: 100%;
}

ul li {
  display: inline-block;
  text-decoration: none;
}

img {
  width: 200px;
  height: 175px;
  margin: 125px;
  padding: 15px;
}

div {
  max-width: 100%;
}

div h1 {
  font-size: 3em;
}

div h2 {
  font-size: 2em;
}

div p {
  font-size: 1em;
}

#textarea {
  background-color: #4da6ff;
  max-width: 100%;
  border: 5px;
  padding-top: 5px
}

#img {
  border: 30px;
  margin: 15px;
  padding: 5px;
}
